
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/css.css" th:href="@{../css/css.css}" type="text/css">
    <title>Registro de citas</title>
</head>

<body>

<h1> Registro de citas</h1>
<center>

<div class="container" id="header">
<h3>Asunto de la cita</h3>
<span class="ui-float-label">
    <input id="float-input1" type="text" size="30" pInputText>
    <label for="float-input1"></label></span>

<h3>Nombre del paciente</h3>
<span class="ui-float-label">
    <input id="float-input2" type="text" size="30" pInputText>
    <label for="float-input2"></label></span>


    <h3>Nombre del doctor</h3>
<span class="ui-float-label">
    <input id="float-input5" type="text" size="30" pInputText>
    <label for="float-input5"></label>
</span>

<h3>Correo Electronico</h3>
<span class="ui-float-label">
    <input id="float-input6" type="text" size="30" pInputText>
    <label for="float-input6"></label>

</span>

<h3>Telefono</h3>
<span class="ui-float-label">
    <input id="float-input7" type="text" size="30" pInputText>
    <label for="float-input7"oojkknnki,.mjnhbgvhty5></label>

</span>



    <div class="dii">
    <h3>Fecha de la cita</h3>
        <input type="date">


        <h3>Hora de la cita</h3>
        <input type="time" >

    <div class="bot">
        <input type="reset" value="Guardar" >

    </center>
    </div>
    </div>
</div>
</body>
</html>


<!-- http://localhost:8090/cv/datos -->